# cogpit
librosa
trainer
einops
pypinyin
spacy
num2words
matplotlib
mutagen
hangul_romanize
torchaudio
langchain
langchain-community
langchain-huggingface
tf-keras
weaviate
faiss-cpu
langchain_weaviate
selenium
webdriver_manager
unstructured
langchain_ollama
langgraph
jsonformer